# NLP Project (Arabic Dialect Classification)-Data fetching

### Importing Libraries

In [ ]:
# Imports
import sqlite3 as sq3
import pandas.io.sql as pds
import pandas as pd
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/MyDrive/Arabic_Dialect_Identification/Data_Fetching/'
db_file = 'dialects_database.db'
dialect_csv = 'dialect.csv'
text_csv = 'text.csv'

### Reading Database Files

In [ ]:
pd.set_option('display.max_colwidth',None)
pd.set_option('display.max_rows',None)

In [ ]:
# read tables from the database file using SQL query and then convert this data to a data frame
def sql_to_df(path,query):
  con = sq3.Connection(path) 
  observations = pd.read_sql(query, con)
  df = pd.DataFrame(observations)

  return df

In [ ]:
query0 = """
SELECT *
FROM id_dialect;
"""
dialect = sql_to_df(path+db_file,query0)
dialect.head(10)

                    id dialect
0  1009754958479151232      LY
1  1009794751548313600      LY
2  1019989115490787200      LY
3  1035479791758135168      LY
4  1035481122921164800      LY
5   877881537122979840      LY
6   882940840888471552      LY
7   882941769444466688      LY
8   882943694906818560      LY
9   884736569118261248      LY

In [ ]:
query = """
SELECT *
FROM id_text;
"""
text = sql_to_df(path+db_file,query)
text.head(10)

,id,text
0,1009754958479151232,@toha_Altomy @gy_yah قليلين ادب ومنافقين. لو اختهم او قريبتهم تتعاكس تقولي عليهم من نشاط حقوق المرأة من ردة فعلهم.
1,1009794751548313600,@AlmFaisal 😂😂 الليبيين متقلبين!!!\nبس بالنسبة ليا انا ميليشياوي زمان وتوة
2,1019989115490787200,@smsm071990 @ALMOGRBE كل 20 تانيه شاب ليبي بيرتاح لبنت مختلفة ويلاحظ انها غير كل البنات وبيحس كأنه يعرفها من زمان. بعدين يتزوج وحدة منهن وممكن اثنين ولاثلاثة وتنقلب الرومانسية لعياط وشياط وتهزيب\nand they live happily ever after\nذي اند
3,1035479791758135168,@AboryPro @lyranoo85 رانيا عقليتك متخلفة. اولا الانسان يلي يحتاج اهل يخاف منهم علشان يكون محترم هو انسان قليل الادب اصلاً. ثانياً شن ذنب يلي معندهش اب ولا ام ولا خوت ولا خوات؟ يعني اليتيمة متستحقش تتزوج؟ وثالثاً ليش البنت هي بس لازم ادير الف حساب للراجل؟ هي متستحقش يندارلها الف حساب ولا هي عبدة؟
4,1035481122921164800,@lyranoo85 شكلك متعقدة علشان الراجل لي تحبيه ازوج بنت يتيمة ولا بنت معندهش خوت. هدي اعصابك وفكينا من التخلف امتاعك
5,877881537122979840,@alibobkr63 او حتى من اي دين او طائفة. اسف ممكن الغلط غلطتي بس مكنش قصدي
6,882940840888471552,@muhamed01111 باهي نستنوه. بلكي مشغول ولا حاجة
7,882941769444466688,@muhamed01111 مهما اختلفنا راه نحنا خوت. والله ما عندي عدا على واحد. انا فرحان نقدر انروح لحوشنا وفرحان للناس الاخرى الفرحانة. ربي يفرجها عليك وعلينا كلنا
8,882943694906818560,@muhamed01111 بالنسبة ليا انا والله شبعت هم ونكد وقتل ودم والحقد. الله يهدينا جميعا
9,884736569118261248,@Ajo32asLibya @Jed_ly مو نحنا الحياة عندنا مية في مية ومعندش شي اندكوا راسنا فيه الا لبس الشورتات.\nتخلف

### Saving CSV Files

In [ ]:
# save dataframes to csv files
dialect.to_csv(path+dialect_csv,index=False)
text.to_csv(path+text_csv,index=False)